*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main-container{
    margin: 0 auto;
    width: 400px;
    margin-top: 30px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    height: 480px;
}

.unit-headings{
    margin-top: 10px;
    display: flex;
    gap: 50px;
}

.unit-headings h3{
    cursor: pointer;
}

.unit-headings a{
    text-decoration: none;
    color: black;
}

#current-unit{
    color: blue;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}

.unit-input{
    margin-top: 50px;
    font-size: 20px;
}

.unit-input input,label,button,select{
    display: block;
    margin-top: 10px;
}


.unit-input input{
    width: 270px;
    padding: 5px;
    border-radius: 4px;
    border: 2.5px solid black;
}

.unit-input select{
    width: 270px;
    padding: 5px;
    border-radius: 4px;
    border: 2.5px solid black;
}


.unit-input button{
    font-size: 16px;
    width: 120px;
    padding:8px 5px;
    border-radius: 5px;
    border:2px solid black;
    cursor: pointer;

}

.result-container{
    margin-top: 40px;  
    display: none; 
}

.result-container h2{
    margin-top: 5px;
}


.result-container button{
    margin-top: 15px;
    font-size: 16px;
    width: 120px;
    padding:8px 5px;
    border-radius: 5px;
    border:2px solid black;
    cursor: pointer;

}


@media screen and (max-width:576px) {
    .main-container{
        width: max-content;
        margin: 0 auto;
        margin-top: 30px;
        border: 2px solid black;
        border-radius: 10px;
        padding: 5px 10px;
        height: 480px;
    }

    .unit-input select:focus{
        outline: none;
    }
}